html,body {
    background: url(../img/bigalaxy.jpg) no-repeat #000;
    background-size: <auto> <cover> <contain>
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; 
}


.seller {
    font-family: monospace;
    color: rgb(68 56 102);

    cursor: text;
}

.holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textiboi {
	text-align: center;
	color: #444;
    font-family: monospace;
    font-size: x-large;
}

.textiboi:hover {
	color: white;
}
	

.header {
    text-align: center;
    color: #444;
    font-family: monospace;
    font-size: xx-large;
}

.header a {
    text-decoration: none;
}

.hoverr:hover a 
{
	color: white;
}

.header:hover {
    text-align: center;
    color: white;
    font-family: monospace;
}

.container:hover .seller {
    color: white;
}

.container:hover a {
    color: white;
}

.a {
    text-align: center;
    color: white;
    font-family: monospace;
}

.header:hover a {
    text-align: center;
    color: white;
    font-family: monospace;
}

.icon {
    color: #444;
}

.icon i {
    font-size: 80px;
}

.container {
    text-align: center;
    margin: 5px 20px;

    float: left;
}

a {
    color: #444;
}

.container:hover .icon {
    color: var(--icon-color);
    font-size: 20px;
}

.container:hover .seller {
    color: white;
}

.container:hover a {
    color: white;
}
